* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0dfff;
    height: 100%;
}

/*nav Bar */

#nav-bar {
    background-color: #dab0ff;
    margin-top: auto;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    margin-left: 20px;
}

.logo h1 {
    margin-left: 20px;
    font-weight: 900;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    color: white;
}

#nav-link {
    margin-right: 20px;
}

/* Footer section */
footer {
    background-color: #dab0ff;
    margin-top: auto;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;

}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.contacts h1 {
    color: white;
    font-size: 1.5rem;
}

.social-links {
    display: flex;
    margin-top: 10px;
}

.contact-details {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}



/*Home Page */

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-div {
    background-color: white;
    height: 500px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.User-info {
    display: flex;
    justify-content: space-between;
}

.Buttons-Div {
    z-index: 2;
}

.Btn {
    margin-right: 10px;
}

.user {
    margin-top: 20px;
    margin-left: 20px;
}

.Name {
    font-size: 1.7rem;
}

.Age {
    font-size: 1.7rem;
}

.User-desc {
    margin-right: 15px;
    font-size: 1rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

.User-desc h1 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.picture {
    width: 400px;
    height: 250px;
    object-fit: cover;
}


/* Media Queries */

@media screen and (max-width: 700px) {

    footer p {
        font-size: 0.7rem;
    }

}